


/*body{*/
/*    background-image: url(../imgs/bg.png);*/
/*}*/

ul{
    list-style-type: none;
}

.padding0{
    padding: 0;
}
.menu {
    width: 100%;
    z-index: 999;
}

.menu-item{
    width: 19%;
}

.menu-item a{

    margin: 10px 20px;
    background: #1b6d85;
}

.sticky {
    position:fixed;
    top:0;
}

.carousel-inner{
    height: 300px;
}

.navbar{
    margin-bottom: 0;
}
.navbar-brand {
    display: flex;
    align-items: center;
}
.navbar-brand>img {
    padding: 7px 14px;
}


.btn-link{
    background-color: #fff;
}
.row{
    margin-left: 0px;
    margin-right: 0px;
}
.transparent{
    background-image: url(../imgs/prokat_bg.jpg);
    background-repeat: no-repeat;
    background-position:  center;
    background-size: cover;
    padding-top: 30px;
}
.product-img{
    width: 100px;

}
.level{
    display: flex;
    justify-content: center;
    align-items: center;
}
.white{
    background: #fff;
}


.services{

    background: transparent;
}
.first-service{
    position: relative;
    margin-bottom: 20px;
    margin-right: 15%;
    margin-left: 15%;
    padding: 30px;
    background: #fff;

}
.second-service{
    position: relative;
    margin: 20px 15%;
    padding: 30px;
    color: #fff;
    background: #000;
}

.eighty.start {
    -webkit-animation: servicemove 0.8s 1; /* Safari 4.0 - 8.0 */
    animation: servicemove 0.8s 1;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
}

.aboutUs{
    padding: 40px 15%;
}

.production{

    padding: 40px 15%;
}

.sender{
    height: 580px;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #6c757d;
}

.sender-content{
    color: white;
}
.sender-content input{
    margin-bottom: 5px;
    width: 100%;
}
.sender-content textArea{
    width: 100%;
    height: 200px;
    margin-bottom: 5px;
}

.contacts{
    color: white;
}

.label-content{
    margin-right: 10px;
}

.default{
    background: transparent;
}

.progress div {
    font-size: smaller;
    background: orange;
    width: 0;
}

.files{
        margin-bottom: 20px;
}

svg {
  position: absolute;
  width: 240px;
  height: 120px;
  top: 0; right: 0;
  bottom: 0; left: 0; 
  margin: auto;
}
.credit {
  padding-top: 85%;
  width: 100%;
  text-align: center;
}

.credit span {
  color: #FFF;
  font: 800 75% "Open Sans", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
}

    
@media (max-width: 767px) {
    .menu-item{
        width: 90%;
    }
    
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes servicemove {
    from {left: 0px;}
    to {left: 10%;}
}

/* Standard syntax */
@keyframes servicemove {
    from {left: -10%;}
    to {left: 0px;}
}

/* Safari 4.0 - 8.0 */
#service2 {-webkit-animation-timing-function: linear;}

/* Standard syntax */
#service2 {animation-timing-function: linear;}

